@use "../variables.scss/colors-sumary";
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/multimedia/order-summary/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw 50vh;
  background-color: colors-sumary.$summary-background;
}
@media (max-width: 600px) {
  .main-container {
    background-image: url("/multimedia/order-summary/pattern-background-desktop.svg");
  }
}
.content-section__title {
  font-size: 2.3rem;
  font-weight: 900;
  color: colors-sumary.$summary-title-color;
  margin-bottom: 2rem;
}
